apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "tenancy_ocid": "",
      "user_ocid": "",
      "private_key_path": ".pem",
      "fingerprint": "4d:44::98",
      "region": "us-ashburn-1"
    }
