apiVersion: v1
kind: Secret
metadata:
  name: example-creds
  namespace: crossplane-system
type: Opaque
stringData:
  credentials: |
    {
      "tenancy_ocid": "",
      "user_ocid": "",
      "private_key_path": "",
      "fingerprint": "",
      "region": ""
    }
