apiVersion: v1
kind: Secret
metadata:
  name: oci-creds
  namespace: crossplane-system
type: Opaque
stringData:
  # credentials must match corresponding values of your OCI CLI config file
  # https://docs.oracle.com/en-us/iaas/Content/API/Concepts/sdkconfig.htm
  #
  # Set either private_key_path or private_key according to how your OCI provider runs.
  #
  # 'private_key_path' - optional attribute that only works with locally running OCI provider via 'make run'.
  #  Value is path of 'key_file' in your OCI CLI config.
  #
  # 'private_key' -  required attribute when OCI provider runs in k8s. This also works with locally running OCI provider via 'make run'.
  #  Value is content of key file that can be extracted by running the command below.
  # awk ‘NF {sub(/\r/, “”); printf “%s\\n”,$0;}’ <same path to key file as your OCI CLI config> | pbcopy
  credentials: |
    {
      "tenancy_ocid": "",
      "user_ocid": "",
      "private_key_path": "",
      "private_key": "",
      "fingerprint": "",
      "region": ""
    }
  # security token based auth is also supported 
  # https://docs.oracle.com/en-us/iaas/Content/dev/terraform/configuring.htm#security-token-auth
  #
  # This token expires after one hour. Avoid using this authentication method when provisioning 
  # of resources takes longer than one hour. For more information, 
  # see https://docs.oracle.com/iaas/Content/API/SDKDocs/clitoken.htm#Refreshing_a_Token.
  #
  # for more information on token based authentication see 
  # https://docs.oracle.com/en-us/iaas/Content/API/SDKDocs/clitoken.htm
  # 
  #credentials: |
  #  {
  #    "tenancy_ocid": "",
  #    "region": "",
  #    "auth": "SecurityToken",
  #    "config_file_profile": ""
  #  }